---
interface Props {
  isDark?: boolean;
  className?: string;
}
const { isDark = true, className } = Astro.props;
const textColor: string = isDark ? "text-black" : "text-white";

const classP = "font-light md:font-normal";
const classStrong = "font-bold";
---

<div class:list={[textColor, className, "flex flex-col gap-4 text-gray-800"]}>
  <p class={classP}>
    Soy un <strong class={classStrong}>desarrollador front-end</strong> apasionado
    por crear soluciones digitales eficientes y creativas. Me especializo en el desarrollo
    con <strong class={classStrong}>Astro, Tailwind CSS y TypeScript</strong>, y
    actualmente estoy ampliando mis habilidades aprendiendo
    <strong class={classStrong}>React</strong>. Mi enfoque combina atención al
    detalle y un fuerte compromiso con mi trabajo, asegurando resultados
    visualmente atractivos y funcionales.
  </p>
  <p class={classP}>
    Me caracterizo por ser una persona, responsable y comprometido con cada
    proyecto en el que participo. Si buscas a alguien que combine creatividad y
    eficiencia, <a
      href="/Contact"
      class:list={[
        classStrong,
        "transition-all duration-300 hover:scale-105 hover:text-bluee-500",
      ]}>¡HABLEMOS!</a
    >
  </p>
</div>
