---
interface Props {
  href: string;
  text: string;
  isPrincipal?: boolean;
  pageOut?: boolean;
}

const { href, text, isPrincipal = false, pageOut = false } = Astro.props;
const target = pageOut ? "_blank" : "_self";

const classLink =
  "block px-4 py-2 rounded-full w-max uppercase font-semibold border border-solid text-sm hover:-translate-y-1 transition-all duration-300";
---

{
  isPrincipal ? (
    <a
      class:list={[
        "bg-primary border-primary text-dark-text hover:shadow-btn-pri",
        classLink,
      ]}
      href={href}
      target={target}
    >
      {text}
    </a>
  ) : (
    <a class:list={[classLink, "border-secondary"]} href={href} target={target}>
      {text}
    </a>
  )
}
