---
interface Props {
  href: string;
  text: string;
  isPrincipal?: boolean;
  pageOut?: boolean;
}

const { href, text, isPrincipal = false, pageOut = false } = Astro.props;
const target = pageOut ? "_blank" : "_self";

const classLink =
  "block px-4 py-2 rounded-full w-max uppercase font-semibold border border-solid text-sm hover:scale-[1.07] transition-all duration-300 hover:shadow-lg";
---

{
  isPrincipal ? (
    <a
      class:list={["bg-terciary border-terciary text-white", classLink]}
      href={href}
      target={target}
    >
      {text}
    </a>
  ) : (
    <a class:list={[classLink, "border-black"]} href={href} target={target}>
      {text}
    </a>
  )
}
