---
import Layout from "../layouts/Layout.astro";
import CvIcon from "../icons/Cv.astro";
import StudiesIcon from "../icons/StudiesIcon.astro";
import ExperienceIcon from "../icons/ExperienceIcon.astro";

import Section from "../components/SectionWrapper.astro";
import HeaderPage from "../components/HeaderPage.astro";
import SubContent from "../components/SubContent.astro";

import { experiences } from "../data/Experience";
import { education } from "../data/Studies";
import DetailsCard from "../components/curriculum/DetailsCard.astro";

const lisExperiences = experiences || [];
const lisStudies = education || [];
---

<Layout title="Paul Dev - Curriculum">
  <Section>
    <HeaderPage nameTitle="curriculum">
      <CvIcon slot={"icon-in-title"} />
    </HeaderPage>

    <!-- Experience -->
    <SubContent subTitle="Experiencia" containBtn>
      <ExperienceIcon slot={"icon-in-subTitle"} />
      {
        lisExperiences.map(
          ({ date, companyName, companyUbi, description, position }) => (
            <DetailsCard
              dates={date}
              title={position}
              subTitle={companyName}
              site={companyUbi}
              details={description}
            />
          )
        )
      }
    </SubContent>

    <!-- Studies -->
    <SubContent subTitle="Estudios">
      <StudiesIcon slot={"icon-in-subTitle"} />
      {
        lisStudies.map(
          ({ date, degree, description, institution, institutionUbi }) => (
            <DetailsCard
              dates={date}
              title={degree}
              subTitle={institution}
              site={institutionUbi}
              details={description}
            />
          )
        )
      }
    </SubContent>
  </Section>
</Layout>
