---
import "../styles/inputsStyles.css";
interface Props {
  isCorreo?: boolean; //HTMLInputTypeAttribute
  nameLabel: string;
  id: string;
}

const { isCorreo = false, id, nameLabel } = Astro.props;
const typeInput = isCorreo ? "email" : "text";
---

<div class="inputGroup relative">
  <input
    type={typeInput}
    name={id}
    id={id}
    class="text-[100%] p-2 outline-none border-2 border-solid border-regentStBlue bg-transparent rounded-lg w-full dark:border-regalBlueDark"
    required
    autocomplete="off"
  />
  <label
    for={id}
    class="text-[100%] absolute left-0 p-2 ml-2 pointer-events-none transition-all ease-linear text-slate-400 capitalize"
    >{nameLabel}</label
  >
</div>
